<!--<div id="page_header_cont">
    <div class="back">

    </div>.sd000
</div>-->
<style>
    .textwrap {
        float: right;
        margin: 5px;
    }
</style>
<div ng-include="'/templates/parts/userHeader.html'"></div>
<div class="container">
    <h2 style="color: blue">Новости ЖКХ</h2>

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            <!--<span class="glyphicon glyphicon-user"></span>-->
            <!--            {{vm.payer.lastname}} {{vm.payer.firstname}}-->
            <img src="/img/news1.JPG" alt="" class="mg-responsive img-rounded" style="float: left; margin-right:10px">
            <p>
                Министерство по инвестициям и развитию РК и ПРООН в Казахстане подписали Соглашение о реализации
                совместного проекта «Совершенствование системы жилищных отношений для повышения инвестиционной
                привлекательности и развития малого и среднего бизнеса в сфере ЖКХ». Цель проекта – повысить
                инвестиционную привлекательность сектора ЖКХ через привлечение малого и среднего бизнеса (МСБ) в
                управление и содержание жилищного фонда. На сегодняшний день в Казахстане зарегистрировано порядка 80
                тыс. многоквартирных жилых зданий. Около 1/3 домов нуждаются в ремонте, еще больше зданий требуют
                термомодернизации, так как не соответствуют современным требованиям теплозащиты.Локомотивом решения этих
                и многих других проблем мог бы стать МСБ, который, однако, не проявляет пока значительного интереса к
                данной отрасли. В жилищно-коммунальную сферу необходимо привлекать частных инвесторов и при поддержке со
                стороны государства реализовывать многие проекты в этой отрасли. Об этом, в своем послании в 2014 году
                говорил Президент РК Нурсултан Назарбаев. ЖКХ и в частности, один из его сегментов – многоквартирный
                жилой фонд – может стать перспективным рынком, который ранее не использовался для коммерческих
                инвестиций, но для этого необходимо соответствующее нормативно-правовое и институциональное обеспечение.
                Подготовка необходимых изменений, дополнений в жилищное законодательство, создание условий для перехода
                к профессиональному управлению жильем и апробация различных механизмов привлечения инвестиций в этот
                сектор – вот те основные направления, которыми планирует заниматься новый совместный проект ПРООН и
                Правительства Казахстана.
            </p><br/><br/>
            <img src="/img/news2.jpg" alt="" class="mg-responsive img-rounded" style="float: left; margin-right: 10px;">
            <p>
            <h3>Сотрудники АО «КазЦентр ЖКХ» проводят консультации в общественной приемной партии «Нұр Отан»</h3>
            Каждый вторник сотрудники АО «Казахстанский центр модернизации и развития ЖКХ» предоставляют населению
            информационно-консультационные услуги по жилищно-коммунальным вопросам в общественной приемной партии «Нұр
            Отан». Время приема с 15:00 до 17:00. В городе Астана Общественная приемная партии расположена по адресу
            улица Кенесары, дом 25. Решение трудовых конфликтов, жалобы на работников ЖКХ и здравоохранения. Это
            основной круг вопросов, по которому обращается большинство граждан в республиканскую общественную приемную
            партии «Нұр Отан». Сюда может обратиться любой желающий. Общественные приемные работают во всех регионах
            страны. Они объединены в единую электронную систему, где регистрируются все заявления граждан.
            </p><br/><br/>
            <img src="/img/news3.jpg" alt="" class="mg-responsive img-rounded" style="float: left; margin-right: 10px">
            <p>
            <h3>Городское водоснабжение и водоотведение в Республике Казахстан: Развитие инфраструктуры и финансовые
                механизмы</h3>
            1-2 марта 2017 года в г. Астана состоится семинар на тему «Городское водоснабжение и водоотведение в
            Республике Казахстан: Развитие инфраструктуры и финансовые механизмы», организаторами которого выступили
            Европейский Банком Реконструкции и Развития (ЕБРР), Азиатский Банк Развития (АБР) совместно с Министерством
            по инвестициям и развитию Республики Казахстан. В рамках заседания будут затронуты актуальные вопросы
            модернизации и реконструкции сектора водоснабжения и водоотведения в РК, инвестиционные возможности банков
            по финансированию водного сектора и рассмотрены конкретные механизмы реализации инвестиционных проектов с
            участием финансовых институтов. Кроме того, представители ЕБРР поделятся своим опытом работы с различными
            областными администрациями, а АБР приведет примеры отраслевых операций и компетентных решений, применяемых в
            других азиатских странах, в том числе в странах Центральной Азии и за ее пределами.
            </p>
        </div>

    </div>
</div>
